body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 30px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
    background-color: #2c6fdd;
  }
  
  .song-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  .song-table th {
    background: #2c6fdd;
    color: white;
    padding: 12px 10px;
    text-align: left;
    font-size: 15px;
    border: 1px solid #222;
  }
  
  .song-table td {
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    border: 1px solid #222;
  }
  
  .video-cell {
    width: 350px;
  }
  
  .tr_selected:hover {
    background: #f0f5ff;
    font-size: large;
    color: blue;
    font-weight: bold;
  }

  .link:hover{
    color: #9BB4C0;
  }