body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 30px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
    background-color: #2c6fdd;
  }
  
  .song-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  .song-table th {
    background: #2c6fdd;
    color: white;
    padding: 12px 10px;
    text-align: left;
    font-size: 15px;
    border: 1px solid #222;
  }
  
  .song-table td {
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    border: 1px solid #222;
  }
  
  .video-cell {
    width: 350px;
  }
  
  .tr_selected:hover {
    background: #f0f5ff;
    font-size: large;
    color: blue;
    font-weight: bold;
  }

  .link:hover{
    color: #9BB4C0;
  }

.navbar {
  background: #4f8dfd;
  padding: 12px 0;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.2s, background 0.2s, padding 0.2s;
  padding: 6px 10px;
  border-radius: 5px;
}

.navbar a:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #f5f5f5;
}

.navbar a.active {
  background: #2b66e2;
}